<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <h2>Please use your username to login</h2>
        </div>
        <div class="login-form">
            <form id="loginForm">
                <div class="login-input-container">
                    <input type="text" id="userInput" name="username" class="form-input">
                    <button type="submit" class="login-button">Login</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
